# Dependency directories
node_modules/

# Build directories
dist/
dist-ssr/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# IDE-specific files
.idea/
.vscode/
.DS_Store

# Exclude unnecessary files
*.local
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Include Dockerfile
!Dockerfile